TaskManager/TaskManager/Service References/GeneralService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="General" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGeneral_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/server.BusinessLayer" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/server" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataLair" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneral_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGeneral_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IGeneral_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_RemindPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:RemindPassword" />
  </wsdl:message>
  <wsdl:message name="IGeneral_RemindPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemindPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ActualTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualTasks" />
  </wsdl:message>
  <wsdl:message name="IGeneral_ActualTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualTasksResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneral">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/Login" message="tns:IGeneral_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/LoginResponse" message="tns:IGeneral_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/SignUp" message="tns:IGeneral_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/SignUpResponse" message="tns:IGeneral_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemindPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/RemindPassword" message="tns:IGeneral_RemindPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/RemindPasswordResponse" message="tns:IGeneral_RemindPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneral/ActualTasks" message="tns:IGeneral_ActualTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneral/ActualTasksResponse" message="tns:IGeneral_ActualTasks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGeneral" type="tns:IGeneral">
    <wsp:PolicyReference URI="#NetTcpBinding_IGeneral_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemindPassword">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/RemindPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualTasks">
      <soap12:operation soapAction="http://tempuri.org/IGeneral/ActualTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="General">
    <wsdl:port name="NetTcpBinding_IGeneral" binding="tns:NetTcpBinding_IGeneral">
      <soap12:address location="net.tcp://localhost:30000/ep1" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:30000/ep1</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>student@step.lan</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>